<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Prometheus Team Hackathon Portal</title>
<!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
<link rel="stylesheet" href="/public/css/style.css">
<!-- Boxicons CDN Link -->
<link href='/public/css/boxicons.css' rel='stylesheet'>
<link href='/public/css/popup.css' rel='stylesheet'>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
<script src="/public/javascripts/controller.js"></script>
<script src="/public/javascripts/vis-network.min.js"></script>

<script src='https://kit.fontawesome.com/a076d05399.js'
	crossorigin='anonymous'></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

 


</head>
<body>

	<div ng-app="prometheusHackathonModuleApp">
		<div ng-controller="homePageController">
			<div class="sidebar" style="overflow: auto;">
				<div class="logo-details">

					<span class="logo_name">&nbsp;&nbsp;&nbsp;Please select from
						the features</span>
				</div>
				<div class="container">
					<div id="listOfFeatures" name="listOfFeatures"
						ng-repeat="currentFeature in listOfFeatures"
						style="font-weight: bold; color: white;">
						<div class="row">
							<div class="col-12">

								<input type="checkbox" name="fetauresToSelect[]"
									value="{{currentFeature}}"
									ng-checked="selectedInterest.indexOf(currentFeature) > -1"
									ng-click="toggleFeaturesSelection(currentFeature)">&nbsp;&nbsp;{{currentFeature.feature}}&nbsp;&nbsp;
								<i class="{{currentFeature.prefimg}}" aria-hidden="true"
									style="font-size: 24px"></i>

							</div>

						</div>

					</div>
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-success"
								ng-click="doRecomondationSearch()">
								Search &nbsp;&nbsp;<span class="fas fa-search"></span>
							</button>
						</div>

					</div>
				</div>
			</div>
			<section class="home-section">
				<nav>
					<div class="sidebar-button"></div>
					<div class="sidebar-search">&nbsp;&nbsp;</div>
					<div class="profile-details">
						<!--<img src="images/profile.jpg" alt="">-->
						<span class="admin_name">You are {{userName}}</span> <span
							id="logoutSection"> <img src="/public/images/logut.png"
							alt="Logout" height="35" width="35" ng-click="logoutUser()"></img></span>

					</div>
				</nav>

				<div class="home-content">
					<br>
					<div style="font: bold; color: red;">{{errorMessage}}</div>
					<br>
					<div style="font: bold; color: green;" id="infoMSgSection">{{infoMessage}}</div>
					<br>

					<div class="sales-boxes">
						<div class="recent-sales box">
							<div class="title">Please select on left pane to get the
								details</div>
							<div>


								<section class="content">
									<div class="container-fluid">
										<div class="row">
											<div class="col-12">
												<div class="card">
													<div class="card-header">
														<h3 class="card-title">Here is your details</h3>
													</div>

													<div class="card-body">
														<div ng-show="displayTableData">
															<table class="table table-bordered table-hover">
																<thead>
																	<tr>
																		<th>Rank</th>

																		<th>Location</th>
																		<th>State</th>
																		<th>Page Score</th>
																		<th>View Graph</th>

																	</tr>
																</thead>
																<tbody>

																	<tr data-widget="expandable-table"
																		aria-expanded="false"
																		ng-repeat-start="recomondation in listOfRecomondation"
																		ng-click="showHideRow(recomondation.rank);">
																		<td title="some text">{{recomondation.nodeID}}</td>

																		<td title="some text">{{recomondation.nodeName}}</td>
																		<td title="some text">{{recomondation.state}}</td>
																		<td title="some text">{{recomondation.score}}</td>
																		<td title="some text">Graph</td>

																	</tr>
																	<tr class="expandable-body" ng-repeat-end
																		ng-if="selectedRow==recomondation.rank">
																		<td colspan="5">
																			<table>
																				<tbody>
																					<tr>
																						<td><b>Local Food:&nbsp;</b>
																							{{recomondation.local_food}}</td>

																					</tr>
																					<tr>
																						<td><b>Lodging Type:&nbsp;</b>
																							{{recomondation.lodging_type}}</td>

																					</tr>
																					<tr>
																						<td><b>Mode of Transport:&nbsp;</b>
																							{{recomondation.mode_of_transport}}</td>

																					</tr>
																					<tr>
																						<td><b>Possible Activities:&nbsp;</b>
																							{{recomondation.possible_activities}}</td>

																					</tr>
																					<tr>
																						<td><br></td>

																					</tr>


																				</tbody>

																			</table>
																		</td>
																	</tr>





																</tbody>
															</table>
														</div>

													</div>

												</div>

											</div>
										</div>


									</div>
								</section>



							</div>

							
							<span style="font-size:30px;cursor:pointer" onclick="openNav()" > Graph Open</span>
							<div id="fullPagePopUp" class="overlay">
								<a href="javascript:void(0)" class="closebtn"
									onclick="closeNav()">&times;</a>
								<div class="overlay-content" id="openPopup">
								
								</div>
							</div>

						</div>
						<div class="top-sales box">
							<div class="title">
								<u>Your List of Interests</u>

								<div class="container">
									<div id="listOfFeatures" name="listOfFeatures"
										ng-repeat="currentInterest in listOfInterests"
										style="color: black; font-style: normal; font-size: medium;">
										<div class="row">
											<div class="col-12">{{currentInterest.interest}}</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>


		</div>
	</div>
<script>

</script>
</body>
<script src="/public/javascripts/graph.js"></script>
</html>

